.navbar{
    width: 100%;
    background-color:lightcyan;
}
#cards{
    width: 100%;
    margin: 0;
    border-style: solid;
    border-color: coral;
    background-color:lightcyan;
    display: flex;
    justify-content:space-around;
}
.cardpos{
    display: flex;
    justify-content:center;
}
#map-div{
    height: 800px;
    padding: auto;
}