* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Vegapunk, sans-serif;
}
.container {
    height: 20rem;
    width: 15rem;
    background-image: linear-gradient(to right top, #a38ee5, #a099e8, #9fa3ea, #a0adea, #a4b6e9, #9fbfef, #9bc8f4, #99d0f7, #85dbff, #70e7ff, #60f1fc, #5ffbf1);
    text-align: center;
    padding-top: 12px;
    border-radius: 16px;
    margin: 10px;
    border: 2px solid rgb(14, 43, 1);
}
